  
    {% extends "base.html" %}
    {% load static %}
    {% block content %}
    <!-- START HOME -->
    <section class="bg-home-2 align-items-center d-flex mt-10" id="home">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1><span class="display-3 fw-bold" style="color :#2f4f4f;">TAM LAY</span><span class="display-3 fw-bold" style="color: #daa520;"> THONG</span></h1>
                        
                        <!-- <p class="display-6 fw-normal mt-4">บริการ ประเมินพื้นที่ วิเคราะห์รายได้ สำหรับการลงทุนติดตั้ง สถานีอัดประจุไฟฟ้า ในเชิงธุรกิจ เพื่อให้การลงทุนของคุณคุ้มค่าที่สุด</p> -->
                        


        <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                <div class="modal-content home-modal">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <video id="VisaChipCardVideo" class="video-box" controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        <!--Browser does not support <video> tag -->
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
         <!-- START SERVICES -->
         <section class="section mt-10" id="related_services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="heading-box text-center">
                            <h3><span>Tam Lay Thong คืออะไร? </span></h3><br>
                            <h5 class="heading-title fw-normal">บริการ ประเมินพื้นที่ วิเคราะห์เวลาการคืนทุน คาดการณ์รายได้ และกำไรล่วงหน้า สำหรับการลงทุนติดตั้งสถานีชาร์จรถ EV ในเชิงธุรกิจ 
                                พร้อมทั้งแนะนำเครื่องชาร์จที่เหมาะสมกับธุรกิจของคุณ 
                                
                            </h5>
                            <div class="my-3 p-0">
                                <img src="{% static 'assets/images/serviceanalysis.png' %}"  alt="" height="200">
                            </div><br>
                            <!-- <h5 class="heading-title fw-normal">บริการ ติดตั้งเครื่องอัดประจุไฟฟ้าพร้อมระบบไฟฟ้า ด้วย VOLTA CONNEXT และ termfai platform ของ PEA 
                                ซึ่งมีสถานีให้บริการ 400+ สถานี และมีผู้ใช้บริการ 200000+ คน 
                                
                            </h5> -->
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </section>



<div class="row mt-5 pt-4">
    <div class="col-lg-6">
        <div class="services-box text-center hover-effect mt-4"> 
            <div class="services-icon" >
                <!-- <i class="pe-7s-network"></i>
                <i class='fas fa-comment-alt' style='font-size:36px'></i> -->
                <i class="pe-7s-user display-4" ></i>
            </div>
            <h3 class="mt-4 pt-1">ทดลองประเมิน (Free versions) </h3>
            <p class="text-muted mt-3 mb-0">คุณสามารถไปทดลองกรอกข้อมูล เพื่อประเมินศักยภาพพื้นที่ของคุณได้ด้วยตนเอง เพื่อทดสอบ
                ความพร้อมในการลงทุน
            </p>
            <div class="mt-4">
                <a href="/login" class="text-primary">Get Start<i class="mdi mdi-arrow-right ms-1"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="services-box text-center hover-effect mt-4">
            <div class="services-icon">
                <!-- <i class="pe-7s-server"></i> -->
                <i class="pe-7s-display2"></i>
            </div>
            <h3 class="mt-4 pt-1">บริการวิเคราะห์ข้อมูลการลงทุนเชิงลึก (Premium) </h3>
            <p class="text-muted mt-3 mb-0">บริการวิเคราะห์ คาดการณ์ระยะเวลาคืนทุน รายได้ กำไรล่วงหน้า ด้วยข้อมูลเชิงลึก 
                พร้อมทั้งบริการแนะนำเครื่องชาร์จที่เหมาะสมกับธุรกิจแลัเงินลงทุนของคุณ
            </p>
            <div class="mt-4">
                <a href="#pricing" class="text-primary" color="red">(ขออภัย ระบบอยู่ระหว่างการพัฒนา!!)</a>
            </div>
        </div>
    </div>


<!-- s -->
<hr>
<div class="heading-box text-center mt-10"  id="contact">
    <!-- <h1><span class="display-3 fw-bold">Contact</span></h1><br> -->
    <h3 class="heading-desc text-muted mt-3">ติดต่อฝ่ายบริการลูกค้า</h3>
    <p class="heading-desc text-muted mt-3">เวลาทำการ 8.30 - 16.30 น.</p>

        <div class="text-center" >
            <h5 class="f-17 mb-1 mt-4 pt-2">Email Address</h5>
            <p class="text-muted">tamlaythong.gems@gmail.com </p>


                <h5 class="f-17 mb-1">Contact Number</h5>
                <p class="text-muted">1129 </p>

        
                <h5 class="f-17 mb-1">Office Address</h5>
                <p class="text-muted"> 200 อาคาร PEA-Innovation-hub ถนนงามวงศ์วาน 
                    เเขวงลาดยาว เขตจตุจักร กรุงเทพมหานคร 10900 </p>
   

        </div></div>
    </section>
    <!-- END CONTACT -->
    {% endblock content%}
